
# pytest
.cache

# coverage
.coverage
.coverage.*
_cov

# python
__pycache__
*.pyc

# packaging
*.egg-info
build/
dist/
.doctrees
.doctree

.pytest_cache/

# tox
.tox

# pyenv
.python-version

# docs
_build

# macosx
.DS_Store
LICENSE
TEST_KS2D/
example.log
make.bat
Makefile
__pycache__/
_static/
_modules/
_images/
_sources/
*.rst
_build/
