[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

numpy = "*"
scipy = "*"


[dev-packages]

pytest = "*"
sphinx = "*"
"flake8" = "*"
"flake8-docstrings" = "*"
sphinx-rtd-theme = "*"
sphinx-autobuild = "*"
matplotlib = "*"
ptpython = "*"
pytest-cov = "*"
pytest-xdist = "*"
pytest-mock = "*"
